global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "node_exporters"
    static_configs:
      - targets:
{% for host in groups['all'] %}
        - "{{ hostvars[host]['private_ip'] }}:9100"
{% endfor %}

  - job_name: "prometheus"
    static_configs:
      - targets:
        - "localhost:9090"

  # FastAPI app metrics
  - job_name: "task-api"
    metrics_path: /metrics
    static_configs:
      - targets:
{% for host in groups.get('app', []) %}
        - "{{ hostvars[host]['private_ip'] }}:{{ hostvars[host].get('app_port', 8000) }}"
{% endfor %}
        labels:
          service: "task-api"